.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
/bin/

.classpath
.project
.settings/

/log/

scripts/updateProtocolFiles.sh

/test-output/

/flights

/*.gpx

# common test output file
/output

#ignore for Project
.DS_Store
.idea/

#springboot resources
src/main/resources/users.properties
