<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <!--
         ^^^^ Configuration debug to true to force logback debug output.
         This is helpful since it will display the path of the logback.xml file
         used by the test execution.
     -->

    <!-- the name of the test suite appenders -->
    <property scope="context" name="consoleAppenderName" value="STDOUT" />
    <property scope="context" name="fileAppenderName" value="fileAppender" />
    <property scope="context" name="logDirectory" value="log/" />

    <!-- standardize log message format -->
    <property scope="context" name="logPattern" value="%date{yyyy-MM-dd HH:mm:ss.SSSZ} [L: %level] [O: %logger{8}] [M: %method] [T: %thread] %msg%n%rootException" />

    <!-- The appender for console output - namely STDOUT. IDEs likely interface with this -->
    <appender name="${consoleAppenderName}" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${logPattern}</pattern>
        </encoder>
    </appender>

    <!-- The appender for logfile output. All logged output goes here.  -->
    <appender name="${fileAppenderName}" class="ch.qos.logback.core.FileAppender">
        <file>${logDirectory}/flightgear.log</file>
        <encoder>
            <pattern>${logPattern}</pattern>
        </encoder>
    </appender>

    <!-- loggers -->
    <logger name="org.jason.flightgear" level="INFO" />
    <logger name="org.jason.flightgear.aircraft" level="DEBUG" />
    <logger name="org.jason.flightgear.connection.sockets" level="INFO" />
    
    <root level="INFO">
        <appender-ref ref="${consoleAppenderName}" />
        <appender-ref ref="${fileAppenderName}" />
    </root>
</configuration>